# DATA TYPES

There are many data types in python like int str float etc

In [1]:
type(1)

int

In [2]:
type(1.1)

float

In [5]:
type('a')

str

In [7]:
type(True)

bool

# HOW TO PRINT IN PYTHON

In [8]:
print('my name is umair khan')

my name is umair khan

In [9]:
print(1)

1

DIFFERENT METHOD IN PRINT

In [17]:
print('My name is umair khan',1,sep = '==')

My name is umair khan==1

In [18]:
print('Hi')
print('Hi')
print('Hi')

Hi
Hi
Hi

In [20]:
print('Hi',end = ' ')
print('Hi',end = ' ')
print('Hi')

Hi Hi Hi

In [24]:
print('Hi',end = '\t\t')
print('Hi',end = '\t')
print('Hi')

Hi		Hi	Hi

# VARIABLES

In [25]:
name = 'umair'
print(name)

umair

In [26]:
age = 23
print(age)

23

In [28]:
P_Square = 10
B_Sqaure = 5
H_square = P_Square + B_Sqaure
print(H_square)

15

In [29]:
4/4

1.0

In [30]:
4//4

1

In [34]:
print('apple '*4)

apple apple apple apple

# CONCATINATION

In [35]:
name = 'umair'
age = 23
print(f'my name is f{name} and my age is {age}')

my name is fumair and my age is 23

In [40]:
name = 'umair'
age= 23
print('my name is ' + name + ' and my age is ' + str (age))

my name is umair and my age is 23

In [41]:
print('My name is {} and my age is {}'.format(name,age))

My name is umair and my age is 23

# HOW TO TAKE INPUTS IN PYTHON

In [42]:
name = input('What is your name ?') 
age = int(input('What is your age ?'))
print('my name is {} and my age is {}'.format(name,age))

What is your name ?umair
What is your age ?23
my name is umair and my age is 23