# data_type

In [ ]:
#there are three types or data in python
#1) integer i.e : 2
#2) float   i.e : 2.90
#3) string  i.e : A,B

In [1]:
a=23
type(a)

int

In [2]:
b = 2.2
type(b)

float

In [4]:
c = "A"    # mene yaha "" quotation marks lagadye hain to python usko as a string recognize krega. agar me "1" esy likhdun
          # tb b python 1 ko as a string treat krega q k mene uspy quotation marks lagady hain
type(c)

str

In [ ]:
# we simply use print command to display the object in python.

In [5]:
print(a)

23

In [6]:
print(b)

2.2

In [7]:
print(c)

A

In [8]:
print(12.2, 67 , "ABC", True)

12.2 67 ABC True

In [10]:
# if i want no seperation between the words, then:
print(12.2 ,67 , "ABC" , True , sep = '')

12.267ABCTrue

In [12]:
# in other words i can place any thing in between words:
print(12.2 ,67 , "ABC" , True , sep = ' $ ')

12.2 $ 67 $ ABC $ True

In [13]:
print("hello physics")
print("last year")
print("KU is love")

hello physics
last year
KU is love

In [15]:
# python prints each str in a seperate line, if i want each of them in a single line, then:
print("hello physics" , end = ' ')
print("last year" , end = ' ')
print("KU is love")

hello physics last year KU is love

In [16]:
#agar mjhy hello physics k bd mjhy ik tab ka gap chaiye or last year k bd 2 tabs ka, then:

print('Hello physics', end = '\t')
print('last year', end = '\t\t')
print('KU is love')

Hello physics	last year		KU is love

# variables

In [17]:
#there are certain rules of assigning a variable.
# 1)variable name should not include any special charactor i.e @ , $
# 2)variable could not be started with any number
# 3)variable doesnot include any space but u can use under score like , umair_khan
# 4)variable could not be started with any number, but agar first word alphabet hu to to phr number use kraskty hain.
#5) keywords ko as a variable use nahi krskty like True, for , in , not , else , if , elif , append ...

In [18]:
@ = "umair"

SyntaxError: invalid syntax (<ipython-input-18-f8f5616dded7>, line 1)

In [19]:
# ub upar dekhen to mene ik special charactor ko use kra as a variable to usny error generate krwadya.

In [20]:
age = 23
print(age)

23

In [22]:
karachi_university = "best university"
print(karachi_university)

best university

In [23]:
n1m="wow"
print(n1m)

wow

In [24]:
na me = "khan"
print(na me)

SyntaxError: invalid syntax (<ipython-input-24-23d439ff7f99>, line 1)

In [25]:
#error agaya uppar q k mene space use kra hai variable me.

In [26]:
x = 4
y = 3
z = x + y
print(z)

7

In [27]:
4/4 # ans will be float

1.0

In [28]:
4//4 # ans will be integer , // use krny s decimal khtm

1

In [29]:
10/3

3.3333333333333335

In [30]:
# if i want to round of above value upto 5 places, then
round((10/3),3)

3.333

In [31]:
round((10/3),5)

3.33333

In [47]:
a = "umair" . upper()
print(a)
b = "KHAN".lower()
print(b)
name = "umair khan" .title()
print(name)

UMAIR
khan
Umair Khan

# concatenation

In [32]:
age = 26
name = "umair"
print(f'my name is {name} and my age is {age}') # ye method formatting ka kehlata hai

my name is umair and my age is 26

In [33]:
a = 23
b = 5
print("a is greater then b")

a is greater then b

In [34]:
# but agar mjhy a or b ki jaga uski values rakhwani hun, then
a = 23
b = 5
print(f'{a} is greater then {b}')

23 is greater then 5

# taking input from user

In [36]:
# agar me chahta hu k me khd python ko data dun to usky lye ye krty hain.
name = input("enter your name: ")
print(f'my name is {name}')

enter your name: umair
my name is umair

In [38]:
# agar mjhy integer as a input dena hu to,
age = int(input("enter your age:"))
print(f'my age is {age}')

enter your age:23
my age is 23

In [40]:
#agar mjhy float as a input dena hu to,
height = float(input("enter your height:"))
print(f'my height is {height}')

enter your height:5.7
my height is 5.7

In [41]:
print(f'my name is {name} , my age is {age} and my height is {height}')

my name is umair , my age is 23 and my height is 5.7

Here are some practice questions, hope you will do it at your own.

In [ ]:

# 2-1). Simple Message: Store a message in a variable, and then print that message . 
# 2-2) Simple Messages: Store a message in a variable, and print that message . Then change the value of your variable to a
# new message, and print the new message .
# 2-3) Personal Message: Store a person’s name in a variable, and print a mes- sage to that person . Your message should be 
# simple, such as, “Hello Eric, would you like to learn some Python today?” 
# 2-4).Name Cases: Store a person’s name in a variable, and then print that per- son’s name in lowercase, uppercase, and 
# titlecase .
# 2-5)Famous Quote: Find a quote from a famous person you admire . Print the quote and the name of its author . Your output 
# should look something like the following, including the quotation marks: Albert Einstein once said, “A person who never
# made a mistake never tried anything new.”
# 2-6) Famous Quote 2: Repeat Exercise 2-5, but this time store the famous per- son’s name in a variable called famous_person
# . Then compose your message and store it in a new variable called message . Print your message . 
# 2-7) Number Eight: Write addition, subtraction, multiplication, and division operations that each result in the number 8 .
# Be sure to enclose your operations in print statements to see the results . You should create four lines that look like
# this:print(5 + 3)Your output should simply be four lines with the number 8 appearing once on each line .
# 2-8) Favorite Number: Store your favorite number in a variable . Then, using that variable, create a message that reveals 
# your favorite number . Print that message .